*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #Fdf0ea;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 15px 10px;

}

.logo img{
    width: 170px;
}

.navigation a{
    
    color: black;
    padding-left: 50px;

}

.navigation a:hover{
    color: grey;
}



.navigation button{
    background-color: #Eb662b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    transition: 0.7s ease;
    margin: 10px;
    margin-left: 500px;
}

.navigation button:hover{
    color:black;
    transform: scale(1.1);
}

.main{
    padding: 100px 200px;
    align-items: center;
    display: flex;
    font-size: 2em;
    padding-left: 100px;
    padding-bottom: -1000px;
}
.main div h1,h6{
    margin: 10px;
}
.main div h6{
    margin-bottom: 10px;
}

section div button{
    background-color: #Eb662b;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.7s ease;
    
}
section div button:hover{
    color: black;
    transform: scale(1.1);
    font-size: 0.5em;
    display: inline-block;
    font-weight: 600;
    padding: 0.9375em 2.1875em;

}
h3{
    margin-top: 100px;
}

.content{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.card{
    font-size: 0.5em;
    width: 300px;
    margin-top: -200px;
    font-size: 1em;
}


















